/* الوضع الداكن */
body.dark-mode {
    background-color: #121212;
    color: #ddd;
}

body.dark-mode header {
    background-color: #1f1f1f;
    color: #eee;
}

body.dark-mode main {
    background-color: #222;
    box-shadow: none;
}

body.dark-mode table thead {
    background-color: #333;
}

body.dark-mode table, 
body.dark-mode table th, 
body.dark-mode table td {
    border-color: #444;
}

body.dark-mode nav a {
    color: #bbb;
}

body.dark-mode nav a:hover {
    color: #fff;
}

body.dark-mode footer {
    color: #aaa;
}
